#root {
    * {
        box-sizing: border-box;
    }

    .form {

        h1,
        h2 {
            text-align: center;
        }

        input,
        button,
        textarea {
            display: block;
            margin : auto;
        }

        button {
            margin-top   : 20px;
            // Make it look similar to the buttons in the warning dialogs
            outline      : none;
            background   : #333;
            border       : none;
            padding      : 6px 18px;
            color        : #eee;
            border-radius: 5px;
            font-size    : 20px;
            cursor       : pointer;
        }

        textarea {
            width: 95%;
        }
    }
}


.react-confirm-alert-body {
    // The default size is 400px.
    // This makes it more responsive, and is not broken on mobile
    width: min(70vw, 500px);
}